{
	"presets": ["@babel/preset-env"],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-transform-async-to-generator",
		"@babel/plugin-transform-runtime",
		"inline-dotenv"
	],
	"ignore": [
		"node_modules",
		"build",
		"client"
	]
}